version: '3'

services:
  backend:
    container_name: mse-telegram-backend
    build: backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - database
      - rabbitmq
  frontend:
    container_name: mse-telegram-frontend
    build:
      context: frontend
      target: deploy
      args:
        - "VITE_TELEGRAM_BOT_NAME=${VITE_TELEGRAM_BOT_NAME}"
    env_file:
      - .env
    ports:
      - "80:80"
    depends_on:
      - backend
  telegram_bot:
    container_name: mse-telegram-bot
    build: telegram_bot
    env_file:
      - .env
    depends_on:
      - database
      - backend
      - rabbitmq
  database:
    container_name: mse-telegram-mongodb
    image: mongo:latest
    hostname: mongodb
    env_file:
      - .env
    ports:
      - "27017:27017"
    environment:
      - "MONGO_INITDB_DATABASE=${MONGO_DB}"
      - "MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}"
      - "MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}"
    command: mongod --quiet
  rabbitmq:
    container_name: mse-telegram-rabbitmq
    image: rabbitmq:latest
    hostname: rabbit
    env_file:
      - .env
    environment:
      - "RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}"
      - "RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS}"
      - "RABBITMQ_DEFAULT_VHOST=/"
    restart: always
    volumes:
      - ./rabbitmq:/var/lib/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    command: bash -c "rabbitmq-server;"
