version: '3'

services:
  backend:
    container_name: mse-telegram-backend
    build: backend
    env_file:
      - compose-variables.env
      - .env
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      database:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - backend-net
      - frontend-net

  frontend:
    container_name: mse-telegram-frontend
    build:
      context: frontend
      target: deploy
      args:
        - VITE_BACKEND_URL=http://localhost:8000/
    env_file:
      - .env
    ports:
      - "127.0.0.1:8080:80"
    depends_on:
      - backend
    networks:
      - backend-net
      - frontend-net

  telegram_bot:
    container_name: mse-telegram-bot
    build: telegram_bot
    env_file:
      - compose-variables.env
      - .env
    depends_on:
      - database
      - backend
      - rabbitmq
    networks:
      - backend-net
    
  database:
    container_name: mse-telegram-mongodb
    image: mongo:7.0.7
    hostname: mongodb
    env_file:
      - compose-variables.env
    restart: always
    healthcheck:
      test: ["CMD", "mongosh", "localhost:$MONGO_PORT/test", "--quiet"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s
    expose:
      - $MONGO_PORT
    volumes:
      - mongodb-data:/data/db
      - mongodb-config:/data/configdb
    command: mongod --quiet
    networks:
      - backend-net

  rabbitmq:
    container_name: mse-telegram-rabbitmq
    image: rabbitmq:3.13.0
    hostname: rabbit
    env_file:
      - compose-variables.env
    restart: always
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 1m
      timeout: 30s
      retries: 5
      start_period: 30s
    expose:
      - 5672
      - 15672
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    command: bash -c "rabbitmq-server;"
    networks:
      - backend-net

volumes:
  mongodb-data:
  mongodb-config:
  rabbitmq-data:

networks:
  frontend-net:
  backend-net: