name: SeleniumTests

on:
  push:
    
jobs:
  selenium_tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - name: Build docker-compose
        run: |
        cp .env.example .env
        docker-compose build

      - name: Run docker-compose
        run: |
        docker-compose up

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup environment for tests
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt

      - name: Run tests
        run: |
          pytest tests/